<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :prifile_image %>
    <%= form.text_field :prifile_image, id: :user_prifile_image %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="field">
    <%= form.label :about_me %>
    <%= form.text_field :about_me, id: :user_about_me %>
  </div>

  <div class="field">
    <%= form.label :has_many %>
    <%= form.text_field :has_many, id: :user_has_many %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
