<%= form_with(model: car, local: true) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :car_image %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :car_name %>
  </div>

  <div class="field">
    <%= form.label :blurb %>
    <%= form.text_field :blurb, id: :car_blurb %>
  </div>

  <div class="field">
    <%= form.label :belongs_to %>
    <%= form.text_field :belongs_to, id: :car_belongs_to %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
