<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @car.image %>
</p>

<p>
  <strong>Name:</strong>
  <%= @car.name %>
</p>

<p>
  <strong>Blurb:</strong>
  <%= @car.blurb %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= @car.belongs_to %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
